@import "tailwindcss";

@theme {
    --color-primary: oklch(58.5% 0.233 277.117);
    --color-dark: oklch(12.9% 0.042 264.695);

    --container-padding: 16px;
    --breakpoint-2xl: 1320px
}

body {
    font-family: 'Inter', sans-serif;
}

.container{
  @apply mx-auto px-4 max-w-5xl;
}

.navbar-fixed{
    @apply fixed z-[9999] bg-white/70;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.hamburger-line{
    @apply w-[30px] h-[2px] my-2 block bg-dark 
    
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45 ;
}
.hamburger-active > span:nth-child(2) {
    @apply scale-0 ;
}
.hamburger-active > span:nth-child(3) {
    @apply -rotate-45 ;
}